.icon {
    padding: 0.5rem;
    border-radius: 100%;
    transition: all 0.3s;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon i {
    color: #f97316;
    font-size: 0.9rem;
}


.icon:hover {
    transform: scale(1.2);
    color: #f97316 !important;
}