<!-- Header -->
<header class="header-area">
    <div class="container">
        <div class="gx-row d-flex align-items-center justify-content-between">
            <a href="./index.html" class="logo">
                <img src="./assets/images/logo.svg" alt="Logo">
            </a>

            <nav class="navbar">
                <ul class="menu">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="works.html">Works</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
                <a href="./contact.html" class="theme-btn">Let's talk</a>
                <div class="theme-toggle-box">
                    <button id="theme-toggle" class="theme-toggle-btn">
                        <div class="toggle-icons">
                            <div class="icon-wrapper light-mode-wrapper">
                                <i class="bi bi-sun-fill light-mode-icon"></i>
                            </div>
                            <div class="icon-wrapper dark-mode-wrapper">
                                <i class="bi bi-moon-fill dark-mode-icon"></i>
                            </div>
                        </div>
                    </button>
                </div>
            </nav>

            <a href="./contact.html" class="theme-btn">Let's talk</a>

            <div class="show-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>