.artworkContainer {
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    overflow: visible;
}

.artwork {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    position: relative;
    z-index: 2;
}

.vinyl {
    position: absolute;
    top: 5px;
    left: 0%;
    width: 90px;
    height: 90px;
    transition: left 1s ease;
    z-index: 1;
}

.expose {
    left: 50%;
    transition: left 1s ease;
}

.spin {
    animation: spin 4s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5rem;
    border-radius: 100%;
    transition: all 0.3s;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.75);
}

.icon i {
    color: white;
    font-size: 2rem;
    opacity: 0.6;
}

.icon:hover {
    transform: translate(-50%, -50%) scale(1.2);
    color: #f97316 !important;
}

.hidden {
    opacity: 0;
    transition: opacity 1s ease;
}

@media (max-width: 565px) {
    .artworkContainer {
        width: 60px;
        height: 60px;
    }

    .vinyl {
        width: 54px;
        height: 54px;
        top: 3px;
    }

    .icon {
        width: 36px;
        height: 36px;
    }

    .icon i {
        font-size: 1.2rem;
    }
}

.hidden {
    opacity: 0;
}