.controlsContainer {
    margin-left: 15px;
    padding: 0px 15px;
    border-radius: 8px;
    opacity: 0;
    transform: translateX(-10px);
    transition: all 1s ease;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

.controls {
    display: flex;
    align-items: center;
}

.controlButton {
    background: none;
    color: #fff;
    font-size: 48px;
    cursor: pointer;
    margin-right: 10px;
    transition: transform 0.5s ease;
    border: none;
}

.small {
    font-size: 30px !important;
}

.controlButton:hover {
    transform: scale(1.2);
}

.trackInfo {
    display: flex;
    flex-direction: column;
}

.title,
.artist,
.controlButton  {
    text-shadow: 0 8px 20px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.8), 0 0 60px rgba(0, 0, 0, 0.8);
}

.title {
    font-weight: 800;
    font-size: 14px;
    color: #fff;
    line-height: normal;
    z-index: 9999;
}

.artist {
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    line-height: normal;
}

.alignBottomOfContainer {
    align-self: flex-end;
}

.expose {
    transform: translateX(45px);
    /* transition: transform 1s ease; */
}