/* src/components/MusicPlayer.module.css */

.playerContainer {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.artworkContainer {
    position: relative;
    width: 100px;
    /* Adjust as needed */
    height: 100px;
    /* Adjust as needed */
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    overflow: visible;
    /* Allow vinyl to show outside */
    transition: box-shadow 0.3s ease;
}

.artworkContainer:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.artwork {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    position: relative;
    z-index: 2;
    /* Ensure artwork is above vinyl */
}

.vinyl {
    position: absolute;
    top: 50%;
    left: 100%;
    width: 90px;
    /* Slightly smaller than artwork height (100px) */
    height: 90px;
    /* Slightly smaller than artwork height (100px) */
    transform: translate(-100%, -50%);
    /* Initially hidden behind artwork */
    transition: transform 0.5s ease;
    z-index: 1;
    /* Ensure vinyl is behind artwork */
}

.spin {
    animation: spin 4s linear infinite;
    transform: translate(-50%, -50%);
    /* Slide vinyl out to the right */
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.controlsContainer {
    margin-left: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

.controls {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.controlButton {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
    transition: color 0.3s ease;
}

.controlButton:hover {
    color: #1db954;
}

.trackInfo {
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: bold;
    font-size: 14px;
    color: #fff;
}

.artist {
    font-size: 12px;
    color: #aaa;
}